@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-snow-white: #6581b1;
    --color-mid-ice: #284a7a;
    --color-dark-ice: #0a1d3d;
    --color-sky-blue: #4080ca;
    --color-gradient: linear-gradient(
        90deg, 
        var(--color-snow-white) 0%,
        var(--color-mid-ice) 30%,
        var(--color-dark-ice) 50%,
        var(--color-mid-ice) 100%);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  height: 3em;
  background: rgba(238, 238, 238, 0.475);
}

.navbar {
  display: flex;
  gap: 1.5em;
  padding-right: 3vw;
  z-index: 1;
}

.navbar ul {
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: var(--color-dark-ice);
    font-weight: bold;
    padding: 16px;
    display: block;
}

.navbar li a:hover {
  color: var(--color-sky-blue);
}

#menu {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  display: none;
  z-index: 10001;
}

section {
    display: flex;
    flex-direction: column;
    place-items: center;
}

header {
    position: relative;
    background-image: url(assets/See.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header h1 {
  color: #FFFFFF;
	letter-spacing: 0.003em;
	font-size: 5em;
	text-shadow: 0 1px #6581b1, -1px 0 #eee, -1px 2px #6581b1, -2px 1px #eee,
		-2px 3px #6581b1, -3px 2px #eee, -3px 4px #6581b1, -4px 3px #eee,
		-4px 5px #6581b1, -5px 4px #eee, -5px 6px #6581b1, -6px 5px #eee,
		-6px 7px #6581b1, -7px 6px #eee, -7px 8px #6581b1, -8px 7px #eee;
}

.animate__animated.animate__backInDown {
  --animate-duration: 1s;
}

#erstezeile {
  padding-top: 1.5em;
  padding-bottom: 6px;
}

#zweitezeile {
  padding-top: 0;
}

main {
    position: relative;
    background: var(--color-gradient);
}

/*Über Mich*/
#uebermich {
    position: relative;
    z-index: 2;
}

#uebermich::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -2.5em;
    right: 0em;
    left: -5em;
    bottom: 90%;
    background: var(--color-gradient);
    filter: blur(10px);
    opacity: 1;
    transform: scaleY(1.4);
}

#uebermich h1 {
  padding-top: 0;
}

h1, h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

h1 {
  color: var(--color-sky-blue);
  font-size: 30px;
}

h2 {
  color: var(--color-snow-white);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.foto-neben-text {
  display: flex;
  flex-direction: row;
  place-items: center;
}

.foto {
    height: 20em;
    border-radius: 50%;
    margin-left: 10%;
}

.foto-neben-text p {
  color: #eee;
  font-size: 18px;
  padding-top: 2em;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2em;
}

/*Hobbys*/
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.reihe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.card {
  position: relative;
  width: 320px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.card .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  clip-path: circle(4em at center);
  transition: 0.5s;
}

.card:hover .circle:before {
  background: #eee;
  clip-path: circle(300px at center);
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 5em;
  pointer-events: none;
  transition: 0.5s;
}

.card:hover img {
  left: 80%;
  height: 7em;
}

.card .content {
  position: relative;
  width: 60%;
  left: 20%;
  padding: 20px 10px 20px 30px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

/* Skills */
.chart-container {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#myChart {
  padding: 1em;
  background-color: #eee;
  border-radius: 5px;
}

/* Lebenslauf*/
*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color-snow-white);
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #eee;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 500px;
    min-height: 160px;
    height: fit-content;
    padding: 15px;
    background: #eee;
    box-shadow: 4px 13px 30px 1px var(--color-dark-ice);
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .timeline ul li div time {
    position: relative;
    width: 150px;
    height: 100px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline ul li div div {
    min-height: 130px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .timeline ul li div div img {
    height: 30px;
    overflow: hidden;
  }
  
  .timeline ul li div div h3 {
    text-align: center;
    font-size: 18px;
  }

  .timeline ul li div div p {
    text-align: center;
    padding-top: 5px;
  }
  
  .timeline ul li:nth-of-type(odd) > div {
    left: 45px;
  }
  
  .timeline ul li:nth-of-type(even) > div {
    left: -545px;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease-in-out;
  }
  
  .timeline ul li:nth-of-type(odd) div {
    transform: translate3d(1px, -100px, 0) rotate(0deg);
  }
  
  .timeline ul li:nth-of-type(even) div {
    transform: translate3d(1px, -100px, 0) rotate(0deg);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

/*Kontakt*/
  footer {
    background: #eee;
  }

  .accounts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    padding-bottom: 2em;
  }

  .accounts img {
    height: 5em;
  }

  .accounts img:hover {
    animation-name: rotate;
    animation-duration: 0.8s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(720deg);
    }
  }

  /*Responsiv*/
  @media screen and (max-width: 1480px){
    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;
    }
    .reihe {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3em;
    }
  }

  @media screen and (max-width: 1150px){
    .foto-neben-text {
      display: flex;
      flex-direction: column;
      place-items: center;
    }
    .foto {
      margin-left: 10%;
      margin-right: 10%;
    }
    .foto-neben-text p {
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
    }

    .timeline ul li div {
      width: 350px;
      min-height: 200px;
      height: fit-content;
      flex-direction: column;
    }
    .timeline ul li div time {
      width: 250px;
      height: 20px;
      padding-right: 0;
    }
    .timeline ul li div div {
      width: 100%;
      margin: 10px;
      min-height: 130px;
      height: fit-content;
    }
    .timeline ul li:nth-of-type(even) > div {
      left: -389px;
    }
  }
  
  @media screen and (max-width: 830px){
    .icons {
      gap: 3em;
    }
    .reihe {
      flex-direction: column;
      gap: 3em;
    }

    #menu {
      display: block;
    }
    nav {
      flex-direction: column;
      align-items: flex-start;
      background: none;
    }
    .navbar {
      display: none;
    }
    .navbar.open {
      position: absolute; 
      right: 0%;
      top: 0%;
      width: 150px;
      height: auto;
      margin: 5px;
      margin-top: 15px;
      background: #eee;
      display: flex;
      border-radius: 5px;
      transition: all 0.5s ease;
    }
    .navbar ul {
      flex-direction: column;
    }
    .navbar li a {
      padding: 6px;
      padding-left: 16px;
    }

    .timeline {
      max-width: 100vw;
      margin-left: -100%;
    }
    .timeline ul li {
      margin-left: 60px;
    }
    .timeline ul li div {
      min-height: 160px;
      height: fit-content;
      width: calc(100vw - 100px);
    }
    .timeline ul li div div {
      min-height: 130px;
      height: fit-content;
    }
    .timeline ul li:nth-of-type(even) > div {
      left: 45px;
    }
  }

  @media screen and (max-width: 600px){
    #laufbahn h1 {
      margin-top: -6px;
    }
  }

  @media screen and (max-width: 500px){
    #laufbahn h1 {
      margin-top: -2.7em;
    }

    header h1 {
      font-size: 3em;
    }
  }

  @media screen and (max-width: 415px){
    #laufbahn h1 {
      margin-top: -13em;
    }
  }

  @media screen and (max-width: 380px){
    #laufbahn h1 {
      margin-top: -8em;
    }
  }

  @media screen and (max-width: 300px){
    header h1 {
      font-size: 2.5em;
    }

    .foto {
      height: 15em;
    }

    .card {
      width: 270px;
      height: 200px;
    }
    .card:hover img {
      height: 6em;
    }

    #laufbahn h1 {
      margin-top: -9em;
    }

    .accounts img {
      height: 4em;
    }
  }
